@import "./../../scss/variables.scss";

.header {
  width: 100%;
  height: $header-height;
  background-color: $black;

  display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;           /* TWEENER - IE 10 */
  display: -webkit-flex;          /* NEW - Chrome */
  display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-flex-direction: row;    /* Safari 6.1+ */
          flex-direction: row;    /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-align-content: space-between;
          align-content: space-between;


  > .left {
    cursor: pointer;
    padding-right: 16px;

    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    > .logo {
      width: 48px;
      padding: 8px;
      &:after {
        content: url(logo_32x32.png);
      }
    }

    > .title {
      font-weight: 700;
      font-family: $font-narrow;
      color: $white;
      font-size: $font-medium;
      text-transform: uppercase;
      margin: auto;
    }
  }
}
