@import "./../scss/fonts.scss";

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$font-normal: 'Open Sans', sans-serif;
$font-narrow: 'Open Sans Condensed', sans-serif;

$font-x-large: 2em;
$font-large: 1.5em;
$font-medium-large: 1.25em;
$font-medium: 1em;
$font-small: 0.75em;
$font-x-small: 0.5em;

$header-height: 48px;
